@{
    ViewBag.Title = "關於";
}


<div class="container-fluid">
    <div class="row">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
    <div class="row">
        @ViewBag.Message
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                成員
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <span class="list-group-item">10534201 : 張佐榮</span>
                    <span class="list-group-item">10634015 : 陳正宗</span>
                    <span class="list-group-item">10534205 : 鍾華安</span>
                </div>
            </div>
        </div>
    </div>
</div>